body {
	font-family: 'lato', sans-serif;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

p {
	font-size: 14px;
	color: #666666;
	max-width: 900px;
}


h2 {
	margin:5px;
	padding-top: 5px;
}


#title {
	color: #EE0000;
}

#topNav a {
	padding-bottom: .2em;
	color: #CDCDCD;
	margin-right: .8em;
	text-decoration: none;
	border-bottom: 1.5px solid #CDCDCD;
}

#topNav {
	padding-bottom: 1em;
	font-size: 1.05em;
}

#mainContent {
	margin-top: 25px;
}

#footer a {
	padding-bottom: .2em;
	margin-top: .4em;
	color: #EE0000;
	text-decoration: none;
}
#footer {
	color:#CDCDCD;
	font-size: .9em;
	padding-top: 25px;
}

#copyright{
	color:#CDCDCD;
}

.firstLetter {
  position: relative;
  float: left;
  font-size: 80px;
  line-height: 0.5;
  padding-top: 10px;
  margin-bottom: 12px;
  margin-right: 8px;
  color: #CDCDCD;
}

.button a {
	color: #EE0000;
	text-decoration: none;
	font-size: .9em;
	font-weight: bold;
}

.button {
	position: relative;
	float: right;
	margin-bottom: 25px;
}

.textContainer {
	border-bottom: 2px solid #E8E8E8;
	padding-bottom: 40px;
	margin-bottom: 10px;
}

.fadedText {
	color: #CDCDCD;
}

.heroImage {
	height: 300px;
	padding: .3em;
}

.text-conatainer {
	border-bottom: 1px solid black;
	padding-bottom: 50px;
	margin-bottom: 10px;
<<<<<<< HEAD
}
=======
}
}
>>>>>>> FETCH_HEAD
