body {
  text-align: center;
  background-image: url(../img/FEWD38-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: 'roboto', sans-serif;
}

h3 {
  margin-top: 350px;
  color: black;
}

input {
  border: solid #517FC0 2px;
  padding: 10px;
  margin-top: 10px;
  font-size: 18px;
}

input[type="submit"] {
  background: #517FC0;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #517FC0;
}

#name {
  margin: 20px;
  padding-left: 1000px;
  padding-top: 50px;
  color: black;
}

//#input {
  margin-top: 500px;
}